<!-- For JQuery Mobile, every erb file must be wrapped in a div that has data-role set to page. -->
<div data-role="page" data-theme="j">

<!-- For JQuery Mobile, title and toolbar are in the same section, wrapped in a data-role div set to header. Also disable the automatic back button because we do not want a back button on our main page. -->
<div data-role="header" data-backbtn="false" data-theme="e">
  <!-- the title is here -->
<center><img src="/public/images/banner.png" /></center>
</div>
				

<div data-role="content" style='font-size: 11px'>
	<a href="http://speakyspeaky.com" data-role="button" data-inline="false" style='font-size: 16px'>HOW TO SPEAKY</a>
	It’s easy!
	NEVER be stuck for a word or phrase when in a different 
	country. SpeakySpeaky will speak the words for you
	if you don’t want to read them.
	Use this app as your linguist travelling companion or learn 
	phrases as you go with the correct pronounciations from
	strictly NATIVE voices.

	IT’S TIME TO THROW AWAY THOSE OLD PHRASEBOOKS!

<ul>
<li>Make sure your speaker is on and turned up</li>
<li>Make sure your speaker is on and turned up</li>
<li>Choose a category</li>
<li>Select a phrase</li>
<li>Select the male      or female      voice option</li>
<li>Let SpeakySpeaky do the rest!</li>
</ul>


	<a href="http://speakyspeaky.com" data-role="button" data-inline="false" style='font-size: 16px; color: yellow;'>www.speakyspeaky.com</a>


</div>
<div data-role="footer", data-position="fixed">
	<div data-role="navbar">
		<ul>
			<li><a href="/app/" data-icon="home" data-iconpos="notext" data-iconpos="right">Categories</a></li>
			<li><a href="/app/Suggestion/" data-icon="check" data-iconpos="notext" data-iconpos="right">Suggestion</a></li>
			
		</ul>
	</div><!-- /navbar -->
</div><!-- /footer -->
</div><!-- /page -->