<!-- For JQuery Mobile, every erb file must be wrapped in a div that has data-role set to page. -->
<div data-role="page" data-theme="j">

<!-- For JQuery Mobile, title and toolbar are in the same section, wrapped in a data-role div set to header. Also disable the automatic back button because we do not want a back button on our main page. -->
<div data-role="header" data-backbtn="false" data-theme="e">
  <!-- the title is here -->
  <h1>Categories</h1>

</div>

<div data-role="content">
	
	<div class="ui-grid-b">
		<div class="ui-block-a"><center><a href="/app/Everydayphrase"><img src="/public/images/icon1_03roll.png" /></a></center></div>
		<div class="ui-block-b"><center><a href="/app/Manner"><img src="/public/images/icon2_05roll.png" /></a></center></div>
		<div class="ui-block-c"><center><a href="/app/Taxi"><img src="/public/images/icon3_07roll.png" /></a></center></div>
	</div><!-- /grid-b -->	

	<div class="ui-grid-b">
		<div class="ui-block-a"><center>Everyday Phrases<br>Codzienne Zwroty</center></div>
		<div class="ui-block-b"><center>Good Manners<br>Dobre Maniery</center></div>
		<div class="ui-block-c"><center>Taxi<br>Taxi</center></div>
	</div><!-- /grid-b -->
	
	<div class="ui-grid-b">
		<div class="ui-block-a"><center><a href="/app/Hotel"><img src="/public/images/icon4_12roll.png" /></a></center></div>
		<div class="ui-block-b"><center><a href="/app/Restaurant"><img src="/public/images/icon5_13roll.png" /></a></center></div>
		<div class="ui-block-c"><center><a href="/app/Shopping"><img src="/public/images/icon6_14roll.png" /></a></center></div>
	</div><!-- /grid-b -->	
	<div class="ui-grid-b">
		<div class="ui-block-a"><center>Hotel<br>Hotel</center></div>
		<div class="ui-block-b"><center>Restaurant<br>Restauracja</center></div>
		<div class="ui-block-c"><center>Shopping<br>Zakupy</center></div>
	</div><!-- /grid-b -->
	
	<div class="ui-grid-b">
		<div class="ui-block-a"><center><a href="/app/Conversation"><img src="/public/images/icon7_18roll.png" /></a></center></div>
		<div class="ui-block-b"><center><a href="/app/Lovesex"><img src="/public/images/icon8_19roll.png" /></a></center></div>
		<div class="ui-block-c"><center><a href="/app/Menu"><img src="/public/images/icon9_20roll.png" /></a></center></div>
	</div><!-- /grid-b -->	
	<div class="ui-grid-b">
		<div class="ui-block-a"><center>Conversation<br>Rozmowa</center></div>
		<div class="ui-block-b"><center>Love/Sex etc<br>Miłość/Sex</center></div>
		<div class="ui-block-c"><center>Menu<br>Menu</center></div>
	</div><!-- /grid-b -->
	
	<div class="ui-grid-b">
		<div class="ui-block-a"><center><a href="/app/Bus"><img src="/public/images/icon10_24roll.png" /></a></center></div>
		<div class="ui-block-b"><center><a href="/app/Train"><img src="/public/images/icon11_25roll.png" /></a></center></div>
		<div class="ui-block-c"><center><a href="/app/Airport"><img src="/public/images/icon12_26roll.png" /></a></center></div>
	</div><!-- /grid-b -->	
	<div class="ui-grid-b">
		<div class="ui-block-a"><center>Bus<br>Autobus</center></div>
		<div class="ui-block-b"><center>Train<br>Pociąg</center></div>
		<div class="ui-block-c"><center>Airport<br>Lotnisko</center></div>
	</div><!-- /grid-b -->
	
	<div class="ui-grid-b">
		<div class="ui-block-a"><center><a href="/app/Money"><img src="/public/images/icon13_17roll.png" /></a></center></div>
		<div class="ui-block-b"><center><a href="/app/Postoffice"><img src="/public/images/icon14_18roll.png" /></a></center></div>
		<div class="ui-block-c"><center><a href="/app/Pharmacy"><img src="/public/images/icon15_19roll.png" /></a></center></div>
	</div><!-- /grid-b -->	
	<div class="ui-grid-b">
		<div class="ui-block-a"><center>Money/Bank<br>Pieniądze/Bank</center></div>
		<div class="ui-block-b"><center>Post Office<br>Poczta</center></div>
		<div class="ui-block-c"><center>Medical/Pharmacy<br>Medyczne/Apteka</center></div>
	</div><!-- /grid-b -->
	
	<div class="ui-grid-b">
		<div class="ui-block-a"><center><a href="/app/Telephone"><img src="/public/images/icon16_23roll.png" /></a></center></div>
		<div class="ui-block-b"><center><a href="/app/Direction"><img src="/public/images/icon17_24roll.png" /></a></center></div>
		<div class="ui-block-c"><center><a href="/app/Emergency"><img src="/public/images/icon18_25roll.png" /></a></center></div>
	</div><!-- /grid-b -->	
	<div class="ui-grid-b">
		<div class="ui-block-a"><center>Telephone<br>Telefon</center></div>
		<div class="ui-block-b"><center>Directions<br>Kierunki</center></div>
		<div class="ui-block-c"><center>Emergencies<br>Niebezpieczeństwa</center></div>
	</div><!-- /grid-b -->
	
	<div class="ui-grid-b">
		<div class="ui-block-a"><center><a href="/app/Number"><img src="/public/images/icon19_29roll.png" /></a></center></div>
		<div class="ui-block-b"><center><a href="/app/Timex"><img src="/public/images/icon20_30roll.png" /></a></center></div>
		<div class="ui-block-c"><center><a href="/app/Pub"><img src="/public/images/icon1_03.png" /></a></center></div>
	</div><!-- /grid-b -->	
	<div class="ui-grid-b">
		<div class="ui-block-a"><center>Numbers<br>Liczby</center></div>
		<div class="ui-block-b"><center>Time/Dates<br>Czas/Daty</center></div>
		<div class="ui-block-c"><center>Bar & Pub<br>Bary & Puby</center></div>
	</div><!-- /grid-b -->

</div>

</div><!-- /page -->