<div data-role="page">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :index %>
    <h1>New Everydayphrase</h1>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @everydayphrase.object %>"/>
      <table>
          
            <tr>
                <td class="itemLabel">Polish: </td>
                <td class="itemValue"><input type="text" name="everydayphrase[polish]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">English: </td>
                <td class="itemValue"><input type="text" name="everydayphrase[english]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Permalink: </td>
                <td class="itemValue"><input type="text" name="everydayphrase[permalink]"/></td>
            </tr>
          
      </table>
      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
